design_russian_doll.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elements_table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="elements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="atomic_number"/>
                    <xs:element type="xs:float" name="atomic_mass"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="electrons_on_layer"/>
                    <xs:element type="xs:string" name="symbol"/>
                    <xs:element type="xs:string" name="kind"/>
                    <xs:element name="position">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="group"/>
                          <xs:element type="xs:string" name="period"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>