design_venetian_blind.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elements_table" type="elements_tableType"/>
  <xs:complexType name="positionType">
    <xs:sequence>
      <xs:element type="xs:string" name="group"/>
      <xs:element type="xs:string" name="period"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element type="xs:integer" name="atomic_number"/>
      <xs:element type="xs:float" name="atomic_mass"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="electrons_on_layer"/>
      <xs:element type="xs:string" name="symbol"/>
      <xs:element type="xs:string" name="kind"/>
      <xs:element type="positionType" name="position"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="elementsType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elements_tableType">
    <xs:sequence>
      <xs:element type="elementsType" name="elements"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>