design_garden_of_eden.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elements_table" type="elements_tableType"/>
  <xs:complexType name="positionType">
    <xs:sequence>
      <xs:element ref="group"/>
      <xs:element ref="period"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element ref="atomic_number"/>
      <xs:element ref="atomic_mass"/>
      <xs:element ref="name"/>
      <xs:element ref="electrons_on_layer"/>
      <xs:element ref="symbol"/>
      <xs:element ref="kind"/>
      <xs:element ref="position"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="elementsType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elements_tableType">
    <xs:sequence>
      <xs:element type="elementsType" name="elements"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="atomic_number" type="xs:string"/>
  <xs:element name="atomic_mass" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="electrons_on_layer" type="xs:string"/>
  <xs:element name="symbol" type="xs:string"/>
  <xs:element name="kind" type="xs:string"/>
  <xs:element name="position" type="positionType"/>
  <xs:element name="group" type="xs:string"/>
  <xs:element name="period" type="xs:string"/>
</xs:schema>